[user]
	name = Erik VonKaenel
	email = erik.vonkaenel@pnnl.gov
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = cache
[push]
	autoSetupRemote = true
[url "git@github.com:"]
	insteadOf = https://github.com/
